<configuration>
  <name>CITRIX-EUR (Citrix Simulated Login) XML DEMO</name>
  <storefrontUrl>https://mycorp.com/Citrix/StoreWeb</storefrontUrl>
  <resourceName>Notepad</resourceName>
  <logFileName>launcher.log</logFileName>
  <browser>ie</browser>
  <testScript>Test.ps1</testScript>
  <timeoutForResource>15</timeoutForResource>
  <timeoutForElements>10</timeoutForElements>
  <interval>300</interval>
  <syncTime>00:01</syncTime>
</configuration>