<configuration>
  <name>CITRIX-EUR (Citrix Simulated Login) XML DEMO</name>
  <storefrontUrl>https://mycorp.com/Citrix/StoreWeb</storefrontUrl>
  <resourceName>Notepad</resourceName>
  <logFileName>sflauncher.log</logFileName>
  <browser>ie</browser>
  <timeoutForResource>30</timeoutForResource>
  <timeoutForElements>30</timeoutForElements>
  <interval>300</interval>
  <syncTime>00:01</syncTime>
</configuration>